<!DOCTYPE html>
<html>
  <head>
    <title>TwitterCloneReact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </head>

  <body>
     <div class="container">

      <div class="row">
        <div class="right">
          <% if user_signed_in? %>
           Welcome
           <%= link_to "(#{current_user.username})#{current_user.display_name}", '/profile' %>, 
           <%= link_to "Log out", destroy_user_session_path, method: 'DELETE'%>

          <% else %>
          Please
          <%= link_to "Login", new_user_session_path %>
           or
          <%= link_to "Sign Up", new_user_registration_path%>
          <% end %>
        </div>
      </div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

       <%= yield %>
     </div>
  </body>
</html>
